Repository kubernetes-sigs/sig-windows-tools, pull requests merged in 2019-10, with the labels that each got.

#15 Use tilde (~) to resolve the home directory (vagrant case)
  kubeadm/v1.15.0/KubeCluster.ps1
  kubeadm/v1.15.0/KubeClusterHelper.psm1
Labels: approved, cncf-cla: yes, lgtm, size/S

#17 Ties services with themselves as dependencies
  kubeadm/v1.15.0/KubeClusterHelper.psm1
Labels: approved, cncf-cla: yes, lgtm, size/S

#20 Add DNS capability to cni conf
  kubeadm/v1.15.0/KubeClusterHelper.psm1
Labels: approved, cncf-cla: yes, lgtm, size/XS

#22 copy config after generating
  kubeadm/v1.15.0/KubeClusterHelper.psm1
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, size/XS

#19 Fixed GetAPIServerEndpoint if there is one master
  kubeadm/v1.15.0/KubeClusterHelper.psm1
Labels: approved, cncf-cla: yes, lgtm, size/XS

#16 Fix windows support on 1903, add v1.16.0 support, add unattended mode/general cleanup
  kubeadm/KubeCluster.ps1
  kubeadm/KubeClusterHelper.psm1
  kubeadm/v1.16.0/Kubeclusterbridge.json
  kubeadm/v1.16.0/Kubeclustervxlan.json
Labels: approved, cncf-cla: yes, lgtm, size/L

#25 chore:Update to latest point versions
  kubeadm/KubeCluster.ps1
  kubeadm/KubeClusterHelper.psm1
  kubeadm/v1.15.0/Kubeclusterbridge.json
  kubeadm/v1.15.0/Kubeclustervxlan.json
  kubeadm/v1.16.0/Kubeclusterbridge.json
  kubeadm/v1.16.0/Kubeclustervxlan.json
Labels: approved, cncf-cla: yes, lgtm, size/S
