Repository kubernetes-sigs/sig-windows-tools, pull requests merged in 2020-11, with the labels that each got.

#117 Updating pause image specific in PrepareNode.ps1 to 1.4.1 which supports Windows Server, Version 2004
  kubeadm/scripts/PrepareNode.ps1
Labels: approved, cncf-cla: yes, lgtm, size/XS

#118 Ensures wrapping quotes removed from kubelet args
  kubeadm/scripts/PrepareNode.ps1
Labels: approved, cncf-cla: yes, lgtm, size/XS

#120 Fix StartKubelet.ps1 generation
  kubeadm/scripts/PrepareNode.ps1
Labels: approved, cncf-cla: yes, lgtm, size/XS

#122 Add templates to help with new issues and PR's
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: approved, cncf-cla: yes, lgtm, size/M

#112 Adding containerd support to kubeadm related scripts/specs/etc
  kubeadm/flannel/flannel-host-gw.yml
  kubeadm/flannel/flannel-overlay.yml
  kubeadm/kube-proxy/kube-proxy.yml
  kubeadm/scripts/Install-Containerd.ps1
  kubeadm/scripts/PrepareNode.ps1
Labels: approved, cncf-cla: yes, lgtm, size/L

#125 Add note about tricky rancher file rename for kube-proxy.exe
  kubeadm/kube-proxy/kube-proxy.yml
Labels: approved, cncf-cla: yes, lgtm, size/XS, tide/merge-method-squash
