Repository kubernetes-sigs/sig-windows-tools, pull requests merged in 2020-03, with the labels that each got.

#38 Create first HNS network before Flannel
  kubeadm/flannel/Dockerfile
  kubeadm/flannel/flannel-host-gw.yml
  kubeadm/flannel/flannel-overlay.yml
  kubeadm/flannel/hns.psm1
  kubeadm/flannel/setup.go
Labels: approved, cncf-cla: yes, lgtm, size/XL

#39 Add script for deploying/testing a cluster on GCE
  kubeadm/hack/checkin_account.py
  kubeadm/hack/checkout_account.py
  kubeadm/hack/ci-e2e.sh
  kubeadm/hack/e2e-cluster-gcp.sh
  kubeadm/hack/startup/controlplane.sh
  kubeadm/hack/startup/windows.ps1
Labels: approved, cncf-cla: yes, lgtm, size/L

#41 Add NodeConformance and sig-windows tests
  kubeadm/hack/e2e-cluster-gcp.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS

#42 Adding Mark Rossetti to approvers
  OWNERS
Labels: approved, cncf-cla: yes, do-not-merge/invalid-owners-file, lgtm, size/XS

#43 Fix gnu mktemp usage, add missing py script
  kubeadm/hack/e2e-cluster-gcp.sh
  kubeadm/hack/heartbeat_account.py
Labels: approved, cncf-cla: yes, lgtm, size/M

#44 kubeadm/hack: enable verbosity for CI
  kubeadm/hack/ci-e2e.sh
  kubeadm/hack/e2e-cluster-gcp.sh
Labels: approved, cncf-cla: yes, kind/cleanup, kind/feature, lgtm, size/S

#46 Add gcloud authentication/configuration
  kubeadm/hack/ci-e2e.sh
Labels: approved, cncf-cla: yes, lgtm, size/S

#45 Add github action to publish kube-proxy images
  .github/workflows/kube-proxy.yml
  go.mod
  go.sum
  kubeadm/hack/publish-kubeproxy.go
  kubeadm/kube-proxy/Dockerfile
  kubeadm/kube-proxy/publish.sh
Labels: approved, cncf-cla: yes, lgtm, size/XL

#47 Add GCP_ZONE
  kubeadm/hack/ci-e2e.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS

#48 Install ginkgo, avoid logging bootstrap tokens
  kubeadm/hack/e2e-cluster-gcp.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS

#49 kubeadm/hack: enable PARALLEL e2e by default
  kubeadm/hack/ci-e2e.sh
  kubeadm/hack/e2e-cluster-gcp.sh
Labels: approved, cncf-cla: yes, kind/bug, kind/cleanup, lgtm, priority/important-soon, size/S

#51 Prevent automatic reboots from Windows update on e2e nodes
  kubeadm/hack/startup/windows.ps1
Labels: approved, cncf-cla: yes, lgtm, size/XS

#53 kubeadm/hack: run e2e tests in Serial, but skip Slow tests
  kubeadm/hack/ci-e2e.sh
  kubeadm/hack/e2e-cluster-gcp.sh
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, size/XS

#55 hack/e2e: skip api-machinery Aggregator tests
  kubeadm/hack/e2e-cluster-gcp.sh
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, size/XS

#57 Whitelist netcat in e2e tests
  kubeadm/hack/startup/windows.ps1
Labels: approved, cncf-cla: yes, lgtm, size/XS

#59 Wait for Windows Defender to start, fix typo
  kubeadm/hack/startup/windows.ps1
Labels: approved, cncf-cla: yes, lgtm, size/XS

#60 Update flannel to release 0.12.0
  kubeadm/flannel/Dockerfile
  kubeadm/flannel/flannel-host-gw.yml
  kubeadm/flannel/flannel-overlay.yml
Labels: approved, cncf-cla: yes, lgtm, size/XS
