Repository kubernetes-sigs/sig-windows-tools, pull requests merged in 2020-10, with the labels that each got.

#107 Replace Patrick with James in owners file
  OWNERS
Labels: approved, cncf-cla: yes, lgtm, size/XS

#106 Check that HNS network doesn't exist before creating new one
  kubeadm/flannel/setup.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#113 Create DebugWindowsNode.ps1
  hack/DebugWindowsNode.ps1
Labels: approved, cncf-cla: yes, lgtm, size/M
