Repository kubernetes-sigs/sig-windows-tools, pull requests merged in 2021-12, with the labels that each got.

#190 use latest ubuntu to avoid CVEs
  burrito/Dockerfile
Labels: lgtm, tide/merge-method-squash, cncf-cla: yes, size/XS, approved

#192 Skip TLS verify on file download
  burrito/Dockerfile
  burrito/cmd/build.go
Labels: tide/merge-method-squash, cncf-cla: yes, size/XS

#188 fix(hostprocess-calico): Prevent removing WSL network
  hostprocess/calico/node/node-service.ps1
Labels: lgtm, tide/merge-method-squash, cncf-cla: yes, size/XS, approved

#187 update hostprocess versions to 1.22.4
  hostprocess/build.sh
  hostprocess/calico/build.sh
  hostprocess/calico/kube-proxy/Dockerfile
  hostprocess/flannel/build.sh
  hostprocess/flannel/kube-proxy/kube-proxy.yml
Labels: tide/merge-method-squash, size/S, cncf-cla: yes, approved

#194 fix Move-Item parameter and iface in flannel hostprocess
  hostprocess/flannel/flanneld/start.ps1
Labels: lgtm, tide/merge-method-squash, cncf-cla: yes, size/XS, approved

#196 Add latest versions
  hostprocess/build.sh
Labels: lgtm, tide/merge-method-squash, cncf-cla: yes, size/XS, approved
