Repository kubernetes-sigs/sig-windows-tools, pull requests merged in 2022-12, with the labels that each got.

#254 removing nat network from containerd config and pointing to WIP PR for configuring CNI w/ containerd
  guides/guide-for-adding-windows-node.md
  hostprocess/README.md
  kubeadm/scripts/Install-Containerd.ps1
  kubeadm/scripts/README.md
Labels: lgtm, tide/merge-method-squash, size/L, cncf-cla: yes, approved

#256 fix(docs): minor formatting fix for url
  hostprocess/eventflow-logger/readme.md
Labels: lgtm, tide/merge-method-squash, cncf-cla: yes, size/XS, approved

#253 Removing SAC releases from non-hostprocess images
  kubeadm/flannel/buildconfig.json
  kubeadm/kube-proxy/buildconfig.json
Labels: lgtm, tide/merge-method-squash, cncf-cla: yes, size/XS, approved

#257 updating the versions K8s patch versions in /hostprocess/build.sh
  hostprocess/build.sh
Labels: tide/merge-method-squash, cncf-cla: yes, size/XS, approved

#260 update golang dependencies
  go.mod
  go.sum
Labels: lgtm, tide/merge-method-squash, cncf-cla: yes, approved, size/XL

#258 Temporary version of the Adding a Windows Node guide
  guides/guide-for-adding-windows-node.md
  hostprocess/calico/calico.yml
  hostprocess/calico/kube-calico-rbac.yml
  hostprocess/calico/kube-proxy/kube-proxy.yml
  hostprocess/flannel/flanneld/flannel-overlay.yml
  hostprocess/flannel/flanneld/kube-flannel-rbac.yml
  hostprocess/flannel/flanneld/start.ps1
  hostprocess/flannel/kube-proxy/kube-proxy.yml
  hostprocess/flannel/kube-proxy/start.ps1
Labels: lgtm, tide/merge-method-squash, size/L, cncf-cla: yes, approved

#259 Running kubelet v1.26 fixes (deprecated args)
  kubeadm/scripts/PrepareNode.ps1
Labels: lgtm, tide/merge-method-squash, cncf-cla: yes, size/XS, approved

#262 Updating Windows Scripts
  guides/guide-for-adding-windows-node.md
  hostprocess/calico/calico.yml
  kubeadm/scripts/Install-Containerd.ps1
  kubeadm/scripts/PrepareNode.ps1
Labels: lgtm, tide/merge-method-squash, cncf-cla: yes, size/M, approved

#265 Added missing env variables for flannel and kube-proxy hostprocess
  hostprocess/flannel/flanneld/flannel-overlay.yml
  hostprocess/flannel/kube-proxy/kube-proxy.yml
Labels: lgtm, tide/merge-method-squash, cncf-cla: yes, size/XS, approved

#268 Fix incompatible cni versions
  hostprocess/flannel/flanneld/flannel-overlay.yml
Labels: lgtm, tide/merge-method-squash, cncf-cla: yes, size/XS, approved

#269 Use most recent kube proxy.yml
  guides/guide-for-adding-windows-node.md
Labels: lgtm, tide/merge-method-squash, cncf-cla: yes, size/XS, approved
