Repository kubernetes-sigs/sig-windows-tools, pull requests merged in 2022-09, with the labels that each got.

#243 Adding a GH action to ensure we have build all versions of Windows kube-proxy image
  .github/workflows/test-kube-proxy-images.yaml
  hack/test-kube-proxy-images.ps1
Labels: lgtm, tide/merge-method-squash, cncf-cla: yes, size/M, approved

#244 Updating sync-project-board.sh to also add PRs to a specified project
  hack/sync-project-board.sh
Labels: lgtm, tide/merge-method-squash, cncf-cla: yes, size/M, approved

#246 Adding a status badge for GH action job to verify we have all the kube-proxy images to main README
  README.md
Labels: lgtm, tide/merge-method-squash, cncf-cla: yes, size/XS, approved

#247 Solving the issue for K8s 1.25
  hostprocess/calico/kube-proxy/kube-proxy.yml
  hostprocess/flannel/kube-proxy/kube-proxy.yml
Labels: kind/bug, lgtm, tide/merge-method-squash, cncf-cla: yes, size/XS, approved
