Repository kubernetes-sigs/sig-windows-tools, pull requests merged in 2022-01, with the labels that each got.

#199 Update log verbosity for kube-proxy image
  hostprocess/build.sh
  hostprocess/calico/kube-proxy/start.ps1
Labels: lgtm, tide/merge-method-squash, cncf-cla: yes, size/XS, approved

#202 update go to 1.17.5 for containerd-ightly
  .github/workflows/windows-containerd-nightly.yml
Labels: lgtm, tide/merge-method-squash, cncf-cla: yes, size/XS, approved

#201 Add Containerd hostprocess container
  .github/workflows/eventflow-logger.yml
  hostprocess/eventflow-logger/.gitignore
  hostprocess/eventflow-logger/Dockerfile
  hostprocess/eventflow-logger/Program.cs
  hostprocess/eventflow-logger/VERSION
  hostprocess/eventflow-logger/containerd-logger.yaml
  hostprocess/eventflow-logger/eventFlowConfig.json
  hostprocess/eventflow-logger/eventflow-logger.csproj
  hostprocess/eventflow-logger/readme.md
Labels: lgtm, tide/merge-method-squash, cncf-cla: yes, approved, size/XL

#203 Csi proxy image
  .github/workflows/csi-proxy.yml
  hostprocess/csi-proxy/Dockerfile.windows
  hostprocess/csi-proxy/README.md
  hostprocess/csi-proxy/VERSION
  hostprocess/csi-proxy/build.sh
  hostprocess/csi-proxy/csi-proxy.yaml
Labels: lgtm, tide/merge-method-squash, size/L, cncf-cla: yes, approved

#204 Fix CSI-proxy build for release
  .github/workflows/csi-proxy.yml
Labels: lgtm, tide/merge-method-squash, cncf-cla: yes, size/XS, approved
