Repository kubernetes-sigs/sig-windows-tools, pull requests merged in 2022-08, with the labels that each got.

#236 Guide for Adding Windows Node
  guides/guide-for-adding-windows-node.md
  kubeadm/flannel/kube-flannel-rbac.yml
Labels: lgtm, tide/merge-method-squash, size/L, cncf-cla: yes, approved

#232 Making script more self-explanatory
  kubeadm/scripts/PrepareNode.ps1
Labels: lgtm, tide/merge-method-squash, cncf-cla: yes, size/M, approved

#238 Solve an issue where serviceaccount is not created
  guides/guide-for-adding-windows-node.md
  kubeadm/flannel/kube-flannel-rbac.yml
Labels: lgtm, tide/merge-method-squash, size/L, cncf-cla: yes, approved

#241 Adding hack/sync-project-board.sh
  hack/sync-project-board.sh
Labels: lgtm, tide/merge-method-squash, cncf-cla: yes, size/M, approved

#240 Updating host-process images to use the new base image
  hostprocess/calico/install/Dockerfile.install
  hostprocess/calico/kube-proxy/Dockerfile
  hostprocess/calico/node/Dockerfile.node
  hostprocess/flannel/flanneld/Dockerfile
  hostprocess/flannel/kube-proxy/Dockerfile
Labels: lgtm, tide/merge-method-squash, sig/windows, size/S, cncf-cla: yes, approved

#242 Adding GH action to run the sync projects board script daily
  .github/workflows/sync-sig-windows-projects-k8s.yml
  hack/sync-project-board.sh
Labels: lgtm, tide/merge-method-squash, cncf-cla: yes, size/M, approved
