Repository kubernetes-sigs/sig-windows-tools, pull requests merged in 2023-01, with the labels that each got.

#273 Remove diskutil as it was moved to csi-proxy
  cmd/diskutil/diskutil.c
Labels: lgtm, tide/merge-method-squash, size/L, cncf-cla: yes, approved

#275 update burrito golang build version
  burrito/Dockerfile
Labels: lgtm, tide/merge-method-squash, cncf-cla: yes, size/XS, approved

#276 chore: fix typo in license headers
  burrito/cmd/build.go
  burrito/cmd/clean.go
  burrito/cmd/print.go
  burrito/cmd/root.go
  burrito/cmd/serve.go
  burrito/main.go
  burrito/utils/config.go
  hack/RegisterGpoMethod.ps1
Labels: lgtm, tide/merge-method-squash, size/S, cncf-cla: yes, approved

#282 Fix invalid spelling of variable
  kubeadm/scripts/Install-Containerd.ps1
Labels: lgtm, tide/merge-method-squash, size/S, cncf-cla: yes, approved
