Repository kubernetes-sigs/sig-windows-tools, pull requests merged in 2023-05, with the labels that each got.

#299 Remove dependency on git from prepare node script
  hostprocess/PrepareNode.ps1
Labels: lgtm, tide/merge-method-squash, size/S, cncf-cla: yes, approved

#304 replacing github PR labeler action with PROW labeler
  .github/labeler.yml
  .github/workflows/labler.yml
  OWNERS
Labels: lgtm, tide/merge-method-squash, size/S, cncf-cla: yes, approved

#297 Support containerd 1.7
  .gitignore
  hostprocess/flannel/flanneld/flannel-overlay.yml
  hostprocess/flannel/flanneld/start.ps1
  hostprocess/flannel/kube-proxy/kube-proxy.yml
  hostprocess/flannel/kube-proxy/start.ps1
Labels: lgtm, tide/merge-method-squash, size/S, cncf-cla: yes, approved

#306 add vni and port to cni-conf.json in kube-flannel-rbac.yml
  hostprocess/flannel/flanneld/kube-flannel-rbac.yml
Labels: lgtm, tide/merge-method-squash, cncf-cla: yes, size/XS, approved

#309 Add option to skip CPU check for Hypervisor support
  guides/guide-for-adding-windows-node.md
  hostprocess/Install-Containerd.ps1
Labels: lgtm, tide/merge-method-squash, cncf-cla: yes, size/M, approved

#311 Split guide to make it easier to follow
  guides/calico.md
  guides/flannel.md
  guides/guide-for-adding-windows-node.md
Labels: lgtm, tide/merge-method-squash, size/L, cncf-cla: yes, approved

#313 Remove conflicting ClusterRole
  hostprocess/flannel/flanneld/kube-flannel-rbac.yml
Labels: lgtm, tide/merge-method-squash, size/S, cncf-cla: yes, approved

#318 Adding GH action workflows for building flannel and flannel kube-proxy images
  .github/workflows/build-flannel-images.yml
  .github/workflows/build-kube-proxy-images.yml
Labels: lgtm, tide/merge-method-squash, size/S, cncf-cla: yes, approved

#312 Add explanation for parameter $CALICO_VERSION
  guides/calico.md
Labels: lgtm, tide/merge-method-squash, cncf-cla: yes, size/XS, approved
