Repository kubernetes-sigs/sig-windows-tools, pull requests merged in 2023-06, with the labels that each got.

#326 Add crictl to Install-Containerd.ps1
  hostprocess/Install-Containerd.ps1
Labels: lgtm, tide/merge-method-squash, size/S, cncf-cla: yes, approved

#328 Uses latest ubuntu and go versions
  .github/workflows/windows-containerd-nightly.yml
Labels: lgtm, tide/merge-method-squash, cncf-cla: yes, size/XS, approved

#330 Update to build latest csi proxy
  hostprocess/csi-proxy/Dockerfile.windows
  hostprocess/csi-proxy/VERSION
  hostprocess/csi-proxy/csi-proxy.yaml
Labels: lgtm, tide/merge-method-squash, cncf-cla: yes, size/XS, approved

#331 fixing csi-proxy manifest-list builds
  hostprocess/csi-proxy/Dockerfile.windows
  hostprocess/csi-proxy/build.sh
Labels: lgtm, tide/merge-method-squash, sig/windows, cncf-cla: yes, size/XS, approved

#325 Improvements to InstallContainerd.ps1 and PrepareNode.ps1
  guides/calico.md
  guides/flannel.md
  guides/guide-for-adding-windows-node.md
  hostprocess/Install-Containerd.ps1
  hostprocess/PrepareNode.ps1
  hostprocess/calico/calico.yml
  hostprocess/calico/install/calico-install.ps1
Labels: lgtm, tide/merge-method-squash, cncf-cla: yes, size/M, approved

#321 Add option to override the hostname for kubeadm
  hostprocess/PrepareNode.ps1
Labels: lgtm, tide/merge-method-squash, cncf-cla: yes, size/XS, approved
