Repository kubernetes-sigs/sig-windows-tools, pull requests merged in 2023-04, with the labels that each got.

#271 Remove dockershim related files
  .github/workflows/flannel.yml
  .github/workflows/kube-proxy.yml
  guides/guide-for-adding-windows-node.md
  hack/DebugWindowsNode.ps1
  hostprocess/Install-Containerd.ps1
  hostprocess/PrepareNode.ps1
  kubeadm/KubeCluster.ps1
  kubeadm/KubeClusterHelper.psm1
  kubeadm/buildx.psm1
  kubeadm/flannel/Dockerfile
  kubeadm/flannel/build.ps1
  kubeadm/flannel/buildconfig.json
  kubeadm/flannel/flannel-host-gw.yml
  kubeadm/flannel/flannel-overlay.yml
  kubeadm/flannel/setup.go
  kubeadm/hack/checkin_account.py
  kubeadm/hack/checkout_account.py
  kubeadm/hack/ci-e2e.sh
  kubeadm/hack/e2e-cluster-gcp.sh
  kubeadm/hack/heartbeat_account.py
  kubeadm/hack/publish-kubeproxy.go
  kubeadm/hack/startup/controlplane.sh
  kubeadm/hack/startup/windows.ps1
  kubeadm/kube-proxy/Dockerfile
  kubeadm/kube-proxy/build.ps1
  kubeadm/kube-proxy/buildconfig.json
  kubeadm/kube-proxy/kube-proxy.yml
  kubeadm/scripts/README.md
  kubeadm/v1.15.0/Kubeclusterbridge.json
  kubeadm/v1.15.0/Kubeclustervxlan.json
  kubeadm/v1.16.0/Kubeclusterbridge.json
  kubeadm/v1.16.0/Kubeclustervxlan.json
Labels: lgtm, size/XXL, tide/merge-method-squash, cncf-cla: yes, approved

#298 Update Install-Containerd.ps1
  hostprocess/Install-Containerd.ps1
Labels: lgtm, tide/merge-method-squash, cncf-cla: yes, size/XS, approved

#295 Add github action for calico kube-proxy
  .github/workflows/build-calico-kube-proxy-images.yml
  hostprocess/build.sh
  hostprocess/calico/build.sh
Labels: lgtm, tide/merge-method-squash, size/S, cncf-cla: yes, approved
